
<div class="container">
  <div class="row">
    <div class="col s12">
      <%= form_for @Player do |f| %>
        <h2>New Player</h2>
        <div class="row">
          <div class="input-field col s8">
            <br />
            <%= f.text_field :name %>
            <%= f.label "Player Name", for: "player_name" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s8">
            <br />
            <%= f.text_field :level %>
            <%= f.label "Level" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s8">
            <br />
            <%= f.text_field :armor_class %>
            <%= f.label "Armor Class" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s8">
            <br />
            <%= f.text_field :passive_perception %>
            <%= f.label "Passive Perception" %>
          </div>
        </div>

        <div class="row">
          <div class="col s3 offset-s5">
            <%= f.submit "Update Player", class: "btn" %>
          </div>
        </div>

        <div class="row" style="margin-top:25px;">
          <div class="col s8" style="display:block;text-align:center;">
            <hr style="border:none;border-bottom:solid 0.5px #9e9e9e;" />
            <%= button_to "delete #{@Player.name} forever", @Player, method: :delete, class: "btn-large red lighten-1"  %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
